* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-app {
    min-height: 100vh;
    background-image: url('images/co2.png');
    background-repeat: round;
}

#automotive {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.automotive {
    margin-left: 20px;
    padding: 30px;
    box-shadow: 0 0 4px 3px rgb(11, 101, 126);
    text-align: center;
    padding: 1.5 em;
    margin-bottom: 2em;
    border: 1px solid;
    border-radius: 10px;
    background-color: white;
}

form {
    padding: 1.5 em;
    margin: 1em;
}

.search-area {
    max-width: 500px;
    margin:auto
}

.card-element {
    padding-top: 5px;
    text-align: left;
    margin-left: 30px;
}

#errorMessage {
    color: red;
}

.automotive-label {
    float: left;
}

.result-label {
    font-weight: bold;
    margin-right: 5px;
}

.automotive-card {
    display: initial;
}